.media-body {
  list-style: none;
  counter-reset: item;
}
.media-body {
  counter-increment: item;
  margin-bottom: 5px;
}
.media-body:before {
  margin-right: 10px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
