.container-publications {
  list-style: none;
  counter-reset: c1 10 ;
}

.far.fa-file-alt.pub-icon {
  counter-increment: c1 -1;
  margin-bottom: 5px;
}
.far.fa-file-alt.pub-icon:before{
  margin-right: 10px;
  content: counter(c1);
  border-radius: 100%;
  width: 1.2em;
  text-align: right;
  display: inline-block;
}
